## Data Engineering Capstone Project

### Step 2. Explore and Assess the Data

The purpose of this notebook is to read in the relevant data, and assess the following attributes of each data source;

* Data schema.
* Size of each data source.
* Quality of each data source.

As described in the README file, for each data source, we will read it into a data frame using spark, and subsequently analyse the attributes. Spark was chosen to read the data in such as to enable versatility if the size of the data was significantly increased. To read in the `.SAS` file, we had to use the following [plugin](https://spark-packages.org/package/saurfang/spark-sas7bdat).

In [8]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
                     getOrCreate()

#### Immigration Dataset

The immigration dataset is stored in a series of parquet files. They are stored in `data/immigration-data/`. We are going to read them in using spark and analyse the schema.

In [9]:
	
## read in the parquet files from the directory
immigration_df =spark.read.parquet('./data/immigration-data/')

In [10]:
## create a temporary view
immigration_df.createOrReplaceTempView('immigration')

In [11]:
## get the schema
immigration_df.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [12]:
## get the first 10 rows
spark.sql("select * from immigration limit 10").show()

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|5748517.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     CA|20582.0|  40.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1976.0|10292016|     F|  null|     QF|9.495387003E10|00011|      B1|
|5748518.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     NV|20591.0|  32.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1984.0|10292016|     F|  null|     VA|9.495562283E10|00007|      B1|
|5748519.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20582.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     M|  null|     DL|9.495640653E10|00040|      B1|
|5748520.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     F|  null|     DL|9.495645143E10|00040|      B1|
|5748521.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  28.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1988.0|10292016|     M|  null|     DL|9.495638813E10|00040|      B1|
|5748522.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20579.0|  57.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1959.0|10292016|     M|  null|     NZ|9.498180283E10|00010|      B2|
|5748523.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20586.0|  66.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1950.0|10292016|     F|  null|     NZ|9.497968993E10|00010|      B2|
|5748524.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20586.0|  41.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1975.0|10292016|     F|  null|     NZ|9.497974673E10|00010|      B2|
|5748525.0|2016.0|   4.0| 245.0| 464.0|    HOU|20574.0|    1.0|     FL|20581.0|  27.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1989.0|10292016|     M|  null|     NZ|9.497324663E10|00028|      B2|
|5748526.0|2016.0|   4.0| 245.0| 464.0|    LOS|20574.0|    1.0|     CA|20581.0|  26.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1990.0|10292016|     F|  null|     NZ|9.501354793E10|00002|      B2|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+

In [13]:
## get the size of the dataset
spark.sql('select count(*) from immigration').show()

+--------+
|count(1)|
+--------+
| 3096313|
+--------+

#### Temperature Data

The temperature data is divided into four csv files;

* GlobalTemperatures.csv
* GlobalLandTemperaturesByCity.csv
* GlobalLandTemperaturesByCountry.csv
* GlobalLandTemperaturesByMajorCity.csv
* GlobalLandTemperaturesByState.csv

For each of the csv files, we will read them in using pandas, we will get the schema, print the first 10 rows of the data, and display the count.

In [33]:
## base path for the csv files
base_path = './data/climate-change'

## list of the files
import os
import pandas as pd

file_names = ['GlobalTemperatures', 
              'GlobalLandTemperaturesByCity', 
              'GlobalLandTemperaturesByCountry',
              'GlobalLandTemperaturesByMajorCity',
              'GlobalLandTemperaturesByState']

for data_source in file_names:
    data_dest = os.path.join(base_path, f'{data_source}.csv')
    print(f'== Analysing Data Source:: {data_source} :: File Path :: {data_dest} ==')
          
    data_df = pd.read_csv(data_dest)
        
    ## print the schema
    print('\n** SCHEMA **\n')
    print(list(data_df))
    print()
    
    ## get the first 10 rows
    print('\n** FIRST 10 ROWS **\n')
    print(data_df.head(10))
    print()
    
    ## get the count
    print('\n** NUMBER OF ROWS **\n')
    print(len(data_df))
    print()

== Analysing Data Source:: GlobalTemperatures :: File Path :: ./data/climate-change/GlobalTemperatures.csv ==

** SCHEMA **

['dt', 'LandAverageTemperature', 'LandAverageTemperatureUncertainty', 'LandMaxTemperature', 'LandMaxTemperatureUncertainty', 'LandMinTemperature', 'LandMinTemperatureUncertainty', 'LandAndOceanAverageTemperature', 'LandAndOceanAverageTemperatureUncertainty']


** FIRST 10 ROWS **

           dt  LandAverageTemperature  LandAverageTemperatureUncertainty  \
0  1750-01-01                   3.034                              3.574
1  1750-02-01                   3.083                              3.702
2  1750-03-01                   5.626                              3.076
3  1750-04-01                   8.490                              2.451
4  1750-05-01                  11.573                              2.072
5  1750-06-01                  12.937                              1.724
6  1750-07-01                  15.868                              1.911
7  1750-08-01                  14.750                              2.231
8  1750-09-01                  11.413                              2.637
9  1750-10-01                   6.367                              2.668

   LandMaxTemperature  LandMaxTemperatureUncertainty  LandMinTemperature  \
0                 NaN                            NaN                 NaN
1                 NaN                            NaN                 NaN
2                 NaN                            NaN                 NaN
3                 NaN                            NaN                 NaN
4                 NaN                            NaN                 NaN
5                 NaN                            NaN                 NaN
6                 NaN                            NaN                 NaN
7                 NaN                            NaN                 NaN
8                 NaN                            NaN                 NaN
9                 NaN                            NaN                 NaN

   LandMinTemperatureUncertainty  LandAndOceanAverageTemperature  \
0                            NaN                             NaN
1                            NaN                             NaN
2                            NaN                             NaN
3                            NaN                             NaN
4                            NaN                             NaN
5                            NaN                             NaN
6                            NaN                             NaN
7                            NaN                             NaN
8                            NaN                             NaN
9                            NaN                             NaN

   LandAndOceanAverageTemperatureUncertainty
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN
5                                        NaN
6                                        NaN
7                                        NaN
8                                        NaN
9                                        NaN


** NUMBER OF ROWS **

3192

== Analysing Data Source:: GlobalLandTemperaturesByCity :: File Path :: ./data/climate-change/GlobalLandTemperaturesByCity.csv ==

** SCHEMA **

['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'City', 'Country', 'Latitude', 'Longitude']


** FIRST 10 ROWS **

           dt  AverageTemperature  AverageTemperatureUncertainty   City  \
0  1743-11-01               6.068                          1.737  Århus
1  1743-12-01                 NaN                            NaN  Århus
2  1744-01-01                 NaN                            NaN  Århus
3  1744-02-01                 NaN                            NaN  Århus
4  1744-03-01                 NaN                            NaN  Århus
5  1744-04-01               5.788                          3.624  Århus
6  1744-05-01              10.644                          1.283  Århus
7  1744-06-01              14.051                          1.347  Århus
8  1744-07-01              16.082                          1.396  Århus
9  1744-08-01                 NaN                            NaN  Århus

   Country Latitude Longitude
0  Denmark   57.05N    10.33E
1  Denmark   57.05N    10.33E
2  Denmark   57.05N    10.33E
3  Denmark   57.05N    10.33E
4  Denmark   57.05N    10.33E
5  Denmark   57.05N    10.33E
6  Denmark   57.05N    10.33E
7  Denmark   57.05N    10.33E
8  Denmark   57.05N    10.33E
9  Denmark   57.05N    10.33E


** NUMBER OF ROWS **

8599212

== Analysing Data Source:: GlobalLandTemperaturesByCountry :: File Path :: ./data/climate-change/GlobalLandTemperaturesByCountry.csv ==

** SCHEMA **

['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'Country']


** FIRST 10 ROWS **

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland
5  1744-04-01               1.530                          4.680   Åland
6  1744-05-01               6.702                          1.789   Åland
7  1744-06-01              11.609                          1.577   Åland
8  1744-07-01              15.342                          1.410   Åland
9  1744-08-01                 NaN                            NaN   Åland


** NUMBER OF ROWS **

577462

== Analysing Data Source:: GlobalLandTemperaturesByMajorCity :: File Path :: ./data/climate-change/GlobalLandTemperaturesByMajorCity.csv ==

** SCHEMA **

['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'City', 'Country', 'Latitude', 'Longitude']


** FIRST 10 ROWS **

           dt  AverageTemperature  AverageTemperatureUncertainty     City  \
0  1849-01-01              26.704                          1.435  Abidjan
1  1849-02-01              27.434                          1.362  Abidjan
2  1849-03-01              28.101                          1.612  Abidjan
3  1849-04-01              26.140                          1.387  Abidjan
4  1849-05-01              25.427                          1.200  Abidjan
5  1849-06-01              24.844                          1.402  Abidjan
6  1849-07-01              24.058                          1.254  Abidjan
7  1849-08-01              23.576                          1.265  Abidjan
8  1849-09-01              23.662                          1.226  Abidjan
9  1849-10-01              25.263                          1.175  Abidjan

         Country Latitude Longitude
0  Côte D'Ivoire    5.63N     3.23W
1  Côte D'Ivoire    5.63N     3.23W
2  Côte D'Ivoire    5.63N     3.23W
3  Côte D'Ivoire    5.63N     3.23W
4  Côte D'Ivoire    5.63N     3.23W
5  Côte D'Ivoire    5.63N     3.23W
6  Côte D'Ivoire    5.63N     3.23W
7  Côte D'Ivoire    5.63N     3.23W
8  Côte D'Ivoire    5.63N     3.23W
9  Côte D'Ivoire    5.63N     3.23W


** NUMBER OF ROWS **

239177

== Analysing Data Source:: GlobalLandTemperaturesByState :: File Path :: ./data/climate-change/GlobalLandTemperaturesByState.csv ==

** SCHEMA **

['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'State', 'Country']


** FIRST 10 ROWS **

           dt  AverageTemperature  AverageTemperatureUncertainty State Country
0  1855-05-01              25.544                          1.171  Acre  Brazil
1  1855-06-01              24.228                          1.103  Acre  Brazil
2  1855-07-01              24.371                          1.044  Acre  Brazil
3  1855-08-01              25.427                          1.073  Acre  Brazil
4  1855-09-01              25.675                          1.014  Acre  Brazil
5  1855-10-01              25.442                          1.179  Acre  Brazil
6  1855-11-01              25.400                          1.064  Acre  Brazil
7  1855-12-01              24.100                          1.718  Acre  Brazil
8  1856-01-01              25.814                          1.159  Acre  Brazil
9  1856-02-01              24.658                          1.147  Acre  Brazil


** NUMBER OF ROWS **

645675

#### Demographics

The demographics dataset contains information about the demographics of all US cities. We will read in the csv files using pandas and get the schema, first 10 rows, and the row count.

In [34]:
file_path = './data/demographics/us-cities-demographics.csv'

demographics_df = pd.read_csv(file_path)

## get the schema
print('\n** SCHEMA **\n')
print(list(demographics_df))
print()

## get the first 10 rows
print('\n** FIRST 10 ROWS **\n')
print(demographics_df.head(10))
print()

## get the row count
print('\n** ROW COUNT **\n')
print(len(demographics_df))
print()

** SCHEMA **

['City;State;Median Age;Male Population;Female Population;Total Population;Number of Veterans;Foreign-born;Average Household Size;State Code;Race;Count']


** FIRST 10 ROWS **

  City;State;Median Age;Male Population;Female Population;Total Population;Number of Veterans;Foreign-born;Average Household Size;State Code;Race;Count
0  Los Angeles;California;35.0;1958998;2012898;39...
1  Metairie;Louisiana;41.6;69515;76943;146458;718...
2  Boca Raton;Florida;47.3;44760;48466;93226;4367...
3  Quincy;Massachusetts;41.0;44129;49500;93629;41...
4  Union City;California;38.5;38599;35911;74510;1...
5  Lakeland;Florida;38.1;47840;56570;104410;7390;...
6  Antioch;California;34.0;54733;55809;110542;568...
7  Mount Pleasant;South Carolina;42.7;39429;41880...
8  Des Moines;Iowa;34.5;103726;106591;210317;1178...
9  Jurupa Valley;California;33.8;49430;50884;1003...


** ROW COUNT **

2891

#### Airport Codes

The airport codes dataset contains airport codes, and corresponding cities

We will read in the `.csv` file using pandas, get the schema, the first 10 rows, and the length of the dataset.

In [35]:
file_path = './data/airport-codes/airport-codes_csv.csv'

airport_codes_df = pd.read_csv(file_path)

print('\n** SCHEMA **\n')
print(list(airport_codes_df))
print()

print('\n** FIRST 10 ROWS **\n')
print(airport_codes_df.head(10))
print()

** SCHEMA **

['ident', 'type', 'name', 'elevation_ft', 'continent', 'iso_country', 'iso_region', 'municipality', 'gps_code', 'iata_code', 'local_code', 'coordinates']


** FIRST 10 ROWS **

  ident           type                                name  elevation_ft  \
0   00A       heliport                   Total Rf Heliport          11.0
1  00AA  small_airport                Aero B Ranch Airport        3435.0
2  00AK  small_airport                        Lowell Field         450.0
3  00AL  small_airport                        Epps Airpark         820.0
4  00AR         closed  Newport Hospital & Clinic Heliport         237.0
5  00AS  small_airport                      Fulton Airport        1100.0
6  00AZ  small_airport                      Cordes Airport        3810.0
7  00CA  small_airport             Goldstone /Gts/ Airport        3038.0
8  00CL  small_airport                 Williams Ag Airport          87.0
9  00CN       heliport     Kitchen Creek Helibase Heliport        3350.0

  continent iso_country iso_region  municipality gps_code iata_code  \
0       NaN          US      US-PA      Bensalem      00A       NaN
1       NaN          US      US-KS         Leoti     00AA       NaN
2       NaN          US      US-AK  Anchor Point     00AK       NaN
3       NaN          US      US-AL       Harvest     00AL       NaN
4       NaN          US      US-AR       Newport      NaN       NaN
5       NaN          US      US-OK          Alex     00AS       NaN
6       NaN          US      US-AZ        Cordes     00AZ       NaN
7       NaN          US      US-CA       Barstow     00CA       NaN
8       NaN          US      US-CA         Biggs     00CL       NaN
9       NaN          US      US-CA   Pine Valley     00CN       NaN

  local_code                              coordinates
0        00A       -74.93360137939453, 40.07080078125
1       00AA                   -101.473911, 38.704022
2       00AK              -151.695999146, 59.94919968
3       00AL    -86.77030181884766, 34.86479949951172
4        NaN                      -91.254898, 35.6087
5       00AS                  -97.8180194, 34.9428028
6       00AZ  -112.16500091552734, 34.305599212646484
7       00CA       -116.888000488, 35.350498199499995
8       00CL                   -121.763427, 39.427188
9       00CN                 -116.4597417, 32.7273736